<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--根菜单-->
        <menuitem id="jinling_warehouse" name="仓库业务" groups="jinling_warehouse.jinling_warehouse_groups"/>
        <menuitem id="warehouse_root" name="仓库管理" parent="jinling_warehouse" sequence="1"/>
        <menuitem id="warehouse_report" name="报表" parent="jinling_warehouse" sequence="2"/>
        <menuitem id="warehouse_set" name="设置" parent="jinling_warehouse" sequence="3"/>

        <record id="warehouse_action" model="ir.actions.act_window">
            <field name="name">仓库</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">warehouse</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="warehouse_menu" name="仓库" action="warehouse_action" parent="warehouse_set" sequence="10"/>

        <record id='jl_warehouse_balance_report_action' model='ir.actions.act_window' >
        <field name='name'>库存余额表</field>
        <field name='res_model'>jl.warehouse.balance.report</field>
        <field name='view_mode'>tree</field>
        <field name='view_id' ref='jl_warehouse_balance_report_tree' />
        <field name="target">main</field>
        </record>
        <menuitem id="jl_warehouse_balance_report_menu" name="库存余额表" action="jl_warehouse_balance_report_action" parent="warehouse_report" sequence="10"/>

        <record id='jl_warehouse_balance_warn_report_action' model='ir.actions.act_window' >
        <field name='name'>库存余额告警表</field>
        <field name='res_model'>jl.warehouse.balance.warn.report</field>
        <field name='view_mode'>tree</field>
        <field name='view_id' ref='jl_warehouse_balance_warn_report_tree' />
        <field name="target">main</field>
        </record>
        <menuitem id="jl_warehouse_balance_warn_report_menu" name="库存余额告警表" action="jl_warehouse_balance_warn_report_action" parent="warehouse_report" sequence="20"/>

        <record id="move_in_action" model="ir.actions.act_window">
            <field name="name">额外入库单</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">jl.move.in</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'search_default_draft': 1}</field>
        </record>
        <menuitem id="move_in_menu" name="额外入库单" action="move_in_action" parent="warehouse_root" sequence="40"/>

        <record id="move_out_action" model="ir.actions.act_window">
            <field name="name">额外出库单</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">jl.move.out</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'search_default_draft': 1}</field>
        </record>
        <menuitem id="move_out_menu" name="额外出库单" action="move_out_action" parent="warehouse_root" sequence="50"/>


        <menuitem id="jl_warehouse_mes_plm_menu" name="生产入库单" action="jinling_manufacture.mes_plm_in_action" parent="warehouse_root" sequence="10" groups="jinling_manufacture.jinling_manufacture_in_groups"/>
        <menuitem id="jl_warehouse_mes_plm_picking_menu" name="生产领料单" action="jinling_manufacture.mes_plm_picking_action" parent="warehouse_root" sequence="20" groups="jinling_manufacture.jinling_manufacture_picking_groups"/>
        <menuitem id="jl_warehouse_mes_plm_refund_menu" name="生产退料单" action="jinling_manufacture.mes_plm_refund_action" parent="warehouse_root" sequence="30" groups="jinling_manufacture.jinling_manufacture_return_groups"/>
        <menuitem id="jl_warehouse_sell_order_out_menu" name="销售发货单" action="jinling_sell.sell_order_out_action" parent="warehouse_root" sequence="40" groups="jinling_sell.jinling_sell_order_out_groups"/>
        <menuitem id="jl_warehouse_mes_ous_menu" name="委外生产入库单" action="jinling_outsourcing.mes_ous_in_action" parent="warehouse_root" sequence="50" groups="jinling_outsourcing.jinling_outsourcing_in_groups"/>
        <menuitem id="jl_warehouse_mes_ous_picking_menu" name="委外生产领料单" action="jinling_outsourcing.mes_ous_picking_action" parent="warehouse_root" sequence="60" groups="jinling_outsourcing.jinling_outsourcing_picking_groups"/>
        <menuitem id="jl_warehouse_mes_ous_refund_menu" name="委外生产退料单" action="jinling_outsourcing.mes_ous_refund_action" parent="warehouse_root" sequence="70" groups="jinling_outsourcing.jinling_outsourcing_return_groups"/>
        <menuitem id="jl_warehouse_sample_picking_menu" name="样品领料单" action="jinling_sample.jl_sample_picking_action" parent="warehouse_root" sequence="80" groups="jinling_sample.jinling_sample_picking_groups"/>
        <menuitem id="jl_warehouse_sample_in_menu" name="样品入库单" action="jinling_sample.jl_sample_in_action" parent="warehouse_root" sequence="90" groups="jinling_sample.jinling_sample_in_groups"/>
    </data>
</odoo>