<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <menuitem id="jl_goods_menu" name="产品设计"/>
        <menuitem id="goods_root_menu" name="产品管理" parent="jl_goods_menu" sequence="1"/>
        <menuitem id="goods_setting_menu" name="设置" parent="jl_goods_menu" sequence="2"/>

        <record id="goods_action" model="ir.actions.act_window">
            <field name="name">商品</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">goods</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="uom_action" model="ir.actions.act_window">
            <field name="name">单位</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">uom</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="goods_menu" name="商品" action="goods_action" parent="jinling_goods.goods_setting_menu" sequence="10"/>
        <menuitem id="uom_menu" name="单位" action="uom_action" parent="jinling_goods.goods_setting_menu" sequence="30"/>

        <record id="goods_class_action" model="ir.actions.act_window">
            <field name="name">商品分类</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">goods.class</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="goods_class_menu" name="商品分类" action="goods_class_action" parent="jinling_goods.goods_setting_menu" sequence="20"/>

        <record id="goods_bom_action" model="ir.actions.act_window">
            <field name="name">产品BOM</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">goods.bom</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="goods_bom_menu" name="产品BOM" action="goods_bom_action" parent="jinling_goods.goods_root_menu" sequence="1"/>
    </data>
</odoo>