<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--根菜单-->
        <menuitem id="jinling_finace" name="财务中心"/>
        <menuitem id="jinling_finace_root" name="财务管理" parent="jinling_finace" sequence="1"/>

        <record id="jl_reconciliation_action" model="ir.actions.act_window">
            <field name="name">对账单</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">jl.reconciliation</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'search_default_draft': 1}</field>
        </record>
        <menuitem id="jl_reconciliation_menu" name="对账单" action="jl_reconciliation_action" parent="jinling_finace_root" sequence="10"/>
        <menuitem id="jl_finace_payment" name="付款申请单" action="jinling_buy.jl_buy_payment_apply_action" parent="jinling_finace_root" sequence="20"/>



    </data>
</odoo>