<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--根菜单-->
        <menuitem id="jinling_logistics" name="物流业务" groups="jinling_logistics.jinling_logistics_groups"/>
        <menuitem id="jinling_logistics_root" name="物流管理" parent="jinling_logistics" sequence="1"/>

        <record id="logistics_action" model="ir.actions.act_window">
            <field name="name">物流订单</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">logistics</field>
            <field name="context">{'search_default_draft': 1}</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="logistics_menu" name="物流订单" action="logistics_action" parent="jinling_logistics_root" sequence="10" groups="jinling_logistics.jinling_logistics_groups"/>
    </data>
</odoo>